<body class="gallery-background">
  <div id="slideshow" class="sliders" style:"clear:both;">
    <div class="active-slide slide">
      <%= image_tag("bacon-cheeseburger.jpg") %>
    </div>
    <div class="slide">
      <%= image_tag("buffalo-chicken-cheesesteak.jpg") %>
    </div>
    <div class="slide">
      <%= image_tag("burger.jpeg") %>
    </div>
    <div class="slide">
      <%= image_tag("cheeseburger.jpg") %>
    </div>
    <div class="slide">
      <%= image_tag("cheesesteak.jpeg") %>
    </div>
    <div class="slide">
      <%= image_tag("chicken-sandwich.jpeg") %>
    </div>
    <div class="slide">
      <%= image_tag("chicken1.jpg") %>
    </div>
    <div class="slide">
      <%= image_tag("flounder.jpg") %>
    </div>
    <div class="slide">
      <%= image_tag("grilled-chicken-cheesesteak.jpg") %>
    </div>
    <div class="slide">
      <%= image_tag("gyro2.jpeg") %>
    </div>
    <div class="slide">
      <%= image_tag("hamclub.jpg") %>
    </div>
    <div class="slide">
      <%= image_tag("hoagie1.jpeg") %>
    </div>
    <div class="slide">
      <%= image_tag("meatball.jpeg") %>
    </div>
    <div class="slide">
      <%= image_tag("pasta2.jpg") %>
    </div>
    <div class="slide">
      <%= image_tag("roast-beef-sandwich.jpg") %>
    </div>
    <div class="slide">
      <%= image_tag("salad2.jpeg") %>
    </div>
    <div class="slide">
      <%= image_tag("seafood2.jpg") %>
    </div>
    <div class="slide">
      <%= image_tag("sides1.jpg") %>
    </div>
    <div class="slide">
      <%= image_tag("sides2.jpg") %>
    </div>
    <div class="slide">
      <%= image_tag("tuna-salad-sandwich.jpg") %>
    </div>
    <div class="slide">
      <%= image_tag("turkeyclub.jpg") %>
    </div>
    <div class="slide">
      <%= image_tag("wings2.jpg") %>
    </div>
    <div class="slide">
      <%= image_tag("wrap1.jpeg") %>
    </div>
    <div class="slide">
      <%= image_tag("wrap2.jpeg") %>
    </div>
  </div>
</body>
