<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Paradise Diner" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Paradise is located at Front & Girard and we also deliver!!" %>">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='http://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>
  </head>

  <body>

      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Gallery", gallery_index_url %></li>

      </ul>


    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
